<h1 class="h1">Car owner list</h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" class="products">

  <div id="plateTab" fxLayout="column">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table #plateTable fxFlex="100%" fxFlex.gt-sm="66%" [dataSource]="dataSource"
           class="mat-elevation-z1">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Owner name</th>
        <td mat-cell *matCellDef="let product"> {{product.name | titlecase}}</td>
      </ng-container>
      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef>Number plate</th>
        <td mat-cell *matCellDef="let product"> {{product.plate | uppercase}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="editCarOwner(product)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button (click)="deleteCarOwner(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <mat-divider fxShow="false" fxShow.gt-sm [vertical]="true"></mat-divider>

  <form class="centerText" [formGroup]="carOwnerForm" (ngSubmit)="createCarOwner(carOwnerForm)" fxLayout="column">
    <h2>Create new car owner</h2>

    <mat-form-field>
      <input type="text" formControlName="name" placeholder="Your name" matInput>
    </mat-form-field>
    <mat-form-field>
      <input type="text" formControlName="plate" placeholder="Car plate like AA11AAA" #input matInput [value]="input.value.toUpperCase()">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Create</button>
    <button mat-flat-button color="primary" (click)="clearCarOwner()">Reset</button>
  </form>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
